<!DOCTYPE html>
<html>
<head><title>Test Blog</title></head>
<body>
    <header>
        <h1>Testing a Blog format</h1>
        <p>Welcome to the testing page. Welcome to the internet</p>
    </header>    

    <article>
        <h1><a href="/">Post 2</a></h1>
        <p>continuing blog ....</p>
        <time>published: 29-10-2021 </time>
               
    </article>

    <article>
        <h1><a href="/">Post 1</a></h1>
        <time>published: 29-10-2021 </time>
        <p>Introducing blog ....</p>
        </article>

</body>
</html>